<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/tasks/create}" th:method="POST" th:object="${task}">
    <div>
        <input type="text" th:name="title" th:field="*{title}">
        <span style="color: red;"
              th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}"
        >
<!--              th:text="${#fields.errors('title')}"-->
            Сообщение об ошибке
        </span>
    </div>
    <div>
        <select th:field="*{priority}">
            <option th:each="priority: ${priorities}"
                    th:text="${priority.value}"
                    th:value="${priority}">
                Приоритет</option>
        </select>
    </div>
    <button type="submit">Создать!</button>
</form>
</body>
</html>